VITE_SUPABASE_PROJECT_ID="uhumbtpkioisepqiqotl"
VITE_SUPABASE_URL="https://uhumbtpkioisepqiqotl.supabase.co"
VITE_SUPABASE_ANON_KEY="cole_a_anon_key_aqui"
VITE_SUPABASE_PUBLISHABLE_KEY="cole_a_mesma_anon_key_aqui"
VITE_WHATSAPP_SERVER_URL="https://crm.zapzdelivery.com.br/"

VITE_WHATSAPP_SEND_MODE="vps"
